# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tags
.tmproj
nbproject
Thumbs.db
tags

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
#public/

# Bower stuff.
bower_components/

# API Docs
docs/api/

# DotEnv
.env


*bundle.js

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# dotenv
.env

# virtualenv
.venv
venv/
ENV/


test.json
